<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.likes.common.mybatis.mapper.BrokerMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.likes.common.mybatis.entity.BrokerMessage">
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="message_id" property="messageId"/>
        <result column="message" property="message"/>
        <result column="try_count" property="tryCount"/>
        <result column="status" property="status"/>
        <result column="next_retry" property="nextRetry"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time
        ,
        update_time,
        message_id, message, try_count, status, next_retry
    </sql>


    <select id="queryBrokeryMessageStatus4Timeout" resultType="com.likes.common.mybatis.entity.BrokerMessage">
        <![CDATA[
        select message_id, message, try_count, status, next_retry, create_time, update_time
        from dz_broker_message bm
        where bm.`status` = #{status}
          and bm.next_retry <= sysdate()
        ]]>
    </select>


    <update id="updateForTryCount">
        update dz_broker_message bm
        set bm.try_count   = bm.try_count + 1,
            bm.update_time =#{updateTime}
        where bm.message_id = #{messageId}
    </update>

</mapper>
