<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.likes.common.mybatis.mapper.MemRelatedBindMapper">
  <resultMap id="BaseResultMap" type="com.likes.common.model.MemRelatedBind">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bind_id" jdbcType="INTEGER" property="bindId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="mem_accno" jdbcType="VARCHAR" property="memAccno" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="category_no" jdbcType="VARCHAR" property="categoryNo" />
  </resultMap>
</mapper>