<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.mapper.MemWalletAddressMapper">
  <resultMap id="BaseResultMap" type="com.likes.common.mybatis.entity.MemWalletAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="accno" jdbcType="VARCHAR" property="accno" />
    <result column="coin_name" jdbcType="VARCHAR" property="coinName" />
    <result column="money_address" jdbcType="VARCHAR" property="moneyAddress" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>
