<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.likes.common.mybatis.mapper.MemYuebaoRecordMapper">


    <resultMap id="BaseResultMap" type="com.likes.common.mybatis.entity.MemYuebaoRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="accno" jdbcType="INTEGER" property="accno"/>
        <result column="change_type" jdbcType="INTEGER" property="changeType"/>
        <result column="asset_cfg_id" jdbcType="BIGINT" property="assetCfgId"/>
        <result column="change_amount" jdbcType="DECIMAL" property="changeAmount"/>
        <result column="serial_no" jdbcType="VARCHAR" property="serialNo"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="operateList" resultType="com.likes.common.model.vo.YuebaoRecordVO">
        select id,
        accno,
        buy_asset_cfg_id as assetCfgId,
        change_type as changeType,
        change_amount as changeAmount ,
        serial_no as serialNo,
        create_time as createTime
        from mem_yuebao_record
        where
        1=1
        <if test="changeType !=null">
            and change_type = #{changeType}
        </if>
        and accno = #{accno}
        and asset_cfg_id = 1
    </select>


</mapper>
